*{
    margin: auto;
    padding: 0%;
}
.body1st{
    background-color: yellow;
    height: 700px;
    text-align: center;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    display: inline-block;
    margin: 25px;
    animation: first1 1.5s infinite alternate;
}

@keyframes first1{
    0%{transform: skew(30deg);}
    100%{transform: skew(-30deg);}
}

.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(118, 121, 153);
    display: inline-block;
    margin: 25px;
    animation: first2 2.5s infinite alternate;
}

@keyframes first2{
    0%{transform: skewy(30deg);}
    100%{transform: skewy(-30deg);}
}

.box3{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    display: inline-block;
    margin: 25px;
    animation: first3 2.5s infinite normal;
}

@keyframes first3{
    0%{transform: rotate(10deg);}
    100%{transform: rotate(360deg);}
}

.box3_1{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    display: inline-block;
    border: 1px solid black;
    margin: 25px;
    animation: first4 3s infinite alternate;
}

@keyframes first4{
    0%{transform: scale(1,1);}
    100%{transform: scale(1,0.5);}
}

.box3_2{
    width: 100px;
    height: 100px;
    background-color: rgb(199, 26, 26);
    display: inline-block;
    border: 1px solid black;
    margin: 25px;
    animation: first5 3s infinite alternate;
}

@keyframes first5{
    0%{transform: scale(1,1);}
    100%{transform: scale(0.5,1);}
}

.box3_3{
    width: 100px;
    height: 100px;
    background-color: rgb(57, 154, 57);
    display: inline-block;
    border: 1px solid black;
    margin: 25px;
    animation: first6 2s infinite alternate-reverse;
}

@keyframes first6{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(90deg);}
}

ol{
    display: inline-block;
}


/* #####################-- INDEX 2 --################################ */
/* #####################-- INDEX 2 --################################ */
/* #####################-- INDEX 2 --################################ */

.item1{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(65, 172, 65);
    transition: width 3s;
}

#item1:hover{
    width: 400px;
    transition-timing-function: ease;
}

.item2{
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: rgb(65, 172, 65);
    transition: width 3s, height 3s;
}

#item2:hover{
    width: 300px;
    height: 300px;
    transition-timing-function: ease-in-out;
}


/* #####################-- INDEX 3 --################################ */
/* #####################-- INDEX 3 --################################ */
/* #####################-- INDEX 3 --################################ */

.body3{
    margin: 0%;
    border: 10px solid;
    border-color: white green white orangered;;
}

.sky{
    background-image: url('./sky.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden
}

.india{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 580px;
}

.H{
    background-color: rgb(210, 86, 19);
    font-size: 40px;
    font-weight: bolder;
}

.I{
    background-color: rgb(249, 249, 249);
    font-size: 40px;
    font-weight: bolder;
}

.D{
    background-color: rgb(5, 71, 5);
    font-size: 40px;
    font-weight: bolder;
}

.road{
    background-image: url('./road.jpg');
    width: 500%;
    height: 250px;
    position: absolute;
    bottom: 0;
    animation: moveroad 10s infinite linear;
}

@keyframes moveroad{
    100%{
        transform: translateX(-4000px)
    }
}

.city{
    background-image: url('./city.png');
    width: 500%;
    height: 250px;
    position: absolute;
    bottom: 35%;
    animation: movecity 15s infinite linear;
}

@keyframes movecity{
    100%{
        transform: translateX(-4000px);
    }
}

.sun{
    background-image: url('./sun-removebg-preview.png');
    width: 180px;
    height: 180px;
    position: absolute;
    left: 80%;
    animation: movesun 50s infinite normal;
}

@keyframes movesun{
    100%{
        transform: translateX(-200px);
    }
}

.car{
   background-image: url('./car12-removebg-preview.png');
   background-size: contain;
   background-repeat: no-repeat;
   width: 530px;
   height: 200px;
   position: relative;
    top: 350px;
    z-index: 2;
    animation: carmove 5s infinite linear;
}

@keyframes carmove{
    0%{
        transform: translatey(1px);
    }
    50%{
        transform: translatey(-5px);
    }
    100%{
        transform: translatey(1px);
    }
}

.wheel1{
    background-image: url('./wheel.png');
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    animation: wheel 1s infinite linear;
    top: 477px;
    left: 558px;
}

@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}


.wheel2{
    background-image: url('./wheel\ \(1\).png');
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    animation: wheel 1s infinite linear;
    top: 477px;
    left: 820px;
}

@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}

.flag{
    background-image: url('./Tiranga1.svg');
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    top: 405px;
    left: 850px;
}
